@media (max-width: 480px) {
    .nav-links {
        display: none; /* hide links by default on small screens */
        flex-direction: column;
        background: #0b0b0b;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn img{
        width: 30px;
    }

    #mac-terminal {
        width: 90%;
        max-width: 400px;
        height: 300px;
    }

    #portfolio-content section {
        padding: 20px;
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {

    /* Navbar */
    .nav-links {
        display: flex; /* show links horizontally */
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }

    .menu-btn {
        display: none; /* hide hamburger */
    }

    .nav-links li {
        margin-left: 1rem; /* slightly smaller spacing than desktop */
    }

    .logo {
        font-size: 1.5rem; /* scale up logo slightly */
    }

    /* Terminal */
    #mac-terminal {
        width: 80%;
        max-width: 600px; /* slightly smaller than desktop */
        height: 350px;
    }

    /* Portfolio Sections */
    #portfolio-content section {
        padding: 30px;
        font-size: 1.1rem;
    }
}
