/*
@media (max-width: 480px) { 
    .typewriter{
        display: none;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 16px;
    }

    .logo {
        left: 16px;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 33px;
        right: 0;
        background-color: #2F343F;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        gap: 1.2rem;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }

    .nav-links.show {
        max-height: 500px;
        opacity: 1;
    }

    .menu-btn {
        display: block;
        position: absolute;
        right: 16px;
        top: 16px;
    }
}

